<div class="list_bloc" style="background: linear-gradient(
  rgba(0, 0, 0, 0.45),
  rgba(0, 0, 0, 0.45)
  ),url('<%= image_path(list.picture_url) %>')">
<%= link_to "#{list.name}", list_path(list) %>
</div>
