<div class="review_bloc pt-4">
  <div class="rating">
    <div class="rating_stars pe-1">
      <% review.rating.times do %>
      <i class="fa-solid fa-star"></i>
      <% end %>
    </div>
    <div class="since_when pe-1">
      Less than <%= review.since_when_minute %> minutes ago
    </div>
  </div>
  <div class="comment">
    <%= review.comment %>
  </div>
</div>
